@font-face {
    font-family: 'NombreDeLaFuente';
    src: url('SuperMarioBros.ttf') format('truetype');
}

* {
    background-color: black;
    font-family: 'NombreDeLaFuente';
}

button ,input {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 50px;
    font-size: 30px;
}

#juego {
    display: flex;
    flex-direction: column;
}


.hidden {
    display: none;
}

#firstScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}